<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.base.engineering.mapper.EngineeringMapper">


    <select id="queryEngineeringByErp" resultType="com.mes.engineering.Engineering">
        select project_no       as engineer_Id,
               project_name     as engineer_name,
               avg_cut_pct      as avg_availability,
               valid_cut_pct    as valid_availability,
               last_cut_pct     as last_availability,
               glass_total      as glass_total,
               glass_total_area as glass_total_area,
               raw_stock_qty    as plan_pattern_total,
               raw_stock_area   as plan_pattern_total_area,
               glass_type       as films_id,
               1                as state,
               remark           as notes
        from pp.optimize_project
        where project_no = #{engineerId}
    </select>
    <select id="queryGlassListByErp" resultType="com.mes.glassinfo.request.GlassInfoImportRequest">
        SELECT t1.project_no       AS engineer_id,
               t1.process_id       AS flow_card_id,
               t1.glass_id,
               t.glass_type        AS films_id,
               t1.order_sort       AS glass_type,
               t1.o_width          AS width,
               t1.o_height         AS height,
               t1.p_width          AS edg_width,
               t1.p_height         AS edg_height,
               t.glass_thickness AS thickness,
               t1.layer            AS layer,
               t3.layers_number    AS total_layer,
               t1.stock_id         AS raw_sequence,
               t1.x_axis,
               t1.y_axis,
               t1.heat_layout_id   AS tempering_layout_id,
               t1.heat_layout_sort AS tempering_feed_sequence,
               t2.x_axis           AS x_coordinate,
               t2.y_axis           AS y_coordinate,
               t2.rotate_angle     AS angle,
               t3.MERGE            AS combine,
               t1.mark_icon
        FROM pp.optimize_project t
                 LEFT JOIN pp.optimize_detail t1 ON t.project_no = t1.project_no
                 LEFT JOIN pp.optimize_heat_detail t2 ON t.project_no = t2.project_no
            AND t1.heat_layout_id = t2.layout_id
            AND t1.heat_layout_sort = t2.sort
                 LEFT JOIN pp.flow_card t3 ON t3.process_id = t1.process_id
            AND t3.technology_number = t1.layer
            AND t3.order_number = t1.order_sort
        WHERE t.project_no = #{engineerId}
    </select>

    <select id="queryRawListByErp" resultType="com.mes.rawqueue.request.EngineeringRawQueueImportRequest">
        SELECT t.project_no      as engineering_id,
               t.glass_type      as films_id,
               t1.realwidth      AS raw_glass_width,
               t1.realheight     AS raw_glass_height,
               t.glass_thickness as raw_glass_thickness,
               t1.stock_id       as raw_sequence,
               0                 as state
        FROM pp.optimize_project t
                 INNER JOIN pp.optimize_layout t1 ON t.project_no = t1.project_no
        WHERE t.project_no = #{engineerId}
        order by t1.stock_id
    </select>


</mapper>